<%- include('header'); -%>
        <div class="box" id="heading">
            
            <h1> <%= listTitle %> </h1>
        </div>
        <div class="box"><% newListItem.forEach(function(newItem) {%>
            <form action="/delete" method="POST">
            <div class="item">
                <input type="checkbox" name="checkbox" value="<%=newItem._id%>" onChange="this.form.submit()">
                <p><%= newItem.name %></p>
            </div>
            <input type="hidden" name="listName" value="<%=listTitle%>">
            </form>
            <% }); %>
        
        <form class="item" action = "/" method ="POST">
        <input type ="text" name="newItem" placeholder="New Item" autocomplete="off">
        <button type="submit" name="list" value= "<%= listTitle %>" >+</button>
        </form>

        </div>
<%- include('footer'); -%>
    